*.asv
test
train
block1/task1/results
block1/task3/masks/*.png
block1/task3/masks_test
block1/masks
block1/masks_test_dataset
block1/test4bestThresholdWB/
block2/masks
block2/images
block2/W2_task3/m1/*.png
block2/W2_task3/m2/*.png
block2/W2_task3/m3/*.png
block2/W2_task3/m4/*.png
block2/W2_task3/m5/*.png
block2/W2_task3/m6/*.png
block2/W2_task3/m1/test_dataset
block3/results
block4/results